<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://toolkit.alibaba-inc.com/dtd/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
     <appender name="RootErrorAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-error.log" />
        <param name="append" value="true" />
        <param name="encoding" value="GBK" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %p [%c{10}]-%l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="error"/> 
		<param name="levelMax" value="fatal"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>

    <appender name="RootWarnAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-warn.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="warn"/> 
		<param name="levelMax" value="warn"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>
    
    
     <appender name="RootInfoAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-info.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="info"/> 
		<param name="levelMax" value="info"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>
    
    <appender name="clusterLogAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-cluster.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="info"/> 
		<param name="levelMax" value="info"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>
    
    <appender name="nettyLogAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-netty.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p-%l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="trace"/> 
		<param name="levelMax" value="error"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>
    
    <appender name="monitorLogAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-monitor.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="info"/> 
		<param name="levelMax" value="info"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>

    <logger name="cluster" additivity="false">
        <level value="info" />
        <appender-ref ref="clusterLogAppender"/>
    </logger>
    
    <!--logger name="org.jboss.netty" additivity="false">
        <level value="trace" />
        <appender-ref ref="nettyLogAppender"/>
    </logger-->
    
    <logger name="monitor" additivity="false">
        <level value="info" />
        <appender-ref ref="monitorLogAppender"/>
    </logger>
    
    <!--  
    <appender name="performanceAppender" class="com.taobao.top.analysis.log.TopDailyRollingFileAppender">
        <param name="file" value="../logs/top-analysis-performance.log" />
        <param name="append" value="true" />
        <param name="encoding" value="GBK" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n" />
        </layout>
    </appender>
    
    
    <appender name="dataAppender" class="com.taobao.top.analysis.log.TopFileAppender">
        <param name="file" value="../logs/top-analysis-data.log" />
        <param name="append" value="true" />
        <param name="encoding" value="GBK" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="info"/> 
		<param name="levelMax" value="info"/> 
		<param name="AcceptOnMatch" value="true"/> 
		</filter> 
    </appender>
    

    <logger name="data" additivity="false">
        <level value="info" />
        <appender-ref ref="dataAppender"/>
    </logger>
    
    
    <logger name="performance" additivity="false">
        <level value="info" />
        <appender-ref ref="performanceAppender"/>
    </logger>

   -->

    <root>
        <level value="info" />
        <appender-ref ref="RootErrorAppender"/>
        <appender-ref ref="RootWarnAppender"/>
        <appender-ref ref="RootInfoAppender"/>
    </root>
</log4j:configuration>
